extends ../layout

block content
	.container
		.row
			.col-md-6
				.text-center
					figure.figure
						img.img-thumbnail(src=car.imageLogo, alt=car.proTitle)
					figcaption.figure-caption=car.carModelName
			.col-md-6
				dl.dl-horizontal
					dt.col-sm-3 厂牌
					dd.col-sm-9=car.brand
					dt.col-sm-3 车系
					dd.col-sm-9=car.series
					dt.col-sm-3 颜色
					dd.col-sm-9=car.color
					dt.col-sm-3 年款
					dd.col-sm-9=car.yearStyle
					dt.col-sm-3 车型
					dd.col-sm-9=car.carModelName
					dt.col-sm-3 排量
					dd.col-sm-9=car.ml
					dt.col-sm-3 最大功率
					dd.col-sm-9=car.kw
					dt.col-sm-3 变速箱
					dd.col-sm-9=car.gearbox
					dt.col-sm-3 指导价(万)
					dd.col-sm-9=car.guidePric
		.row
			ul.nav.nav-tabs
				li.nav-item
					a.nav-link.active(href="#tab1", data-toggle="tab") 商品评价
				li.nav-item
					a.nav-link(href="#tab2", data-toggle="tab") 商品介绍
				li.nav-item
					a.nav-link(href="#tab3", data-toggle="tab") 商品参数
			.tab-content
				#tab1.tab-pane.active
					.card
						.card-block
							h4.card-title.text-center 评论区
						each comment in comments
							.card-block
								.media
									.media-left
										img.media-object(data-src="holder.js/64x64?theme=social")
									.media-body
										h6.media-heading
											span.text-primary #{comment.from.name}  
										p #{comment.content}
										p
											span.text-muted=moment(comment.meta.createDate).format("YYYY-MM-DD")	
											a.replylink.m-l-lg(href="#commentform",data-commentid="#{comment._id}",data-toid="#{comment.from._id}") 回复
										if comment.reply && comment.reply.length > 0
											.card.card-block
												each reply in comment.reply
													.media
														.media-left
															img.media-object(data-src="holder.js/64x64?theme=social")
														.media-body
															h6.media-heading
																span.text-primary #{reply.from.name}  
																span &nbsp;回复&nbsp;
																span.text-primary #{reply.to.name}  
															p #{reply.content}
															p
																span.text-muted=moment(reply.meta.createDate).format("YYYY-MM-DD")	
																a.replylink.m-l-lg(href="#commentform",data-commentid="#{comment._id}",data-toid="#{reply.from._id}") 回复												
						.card-block
							h6 我来说一句
							form(id="commentform", method="post", action="/car/comment")
								input(type="hidden", name="comment[car]", value=car._id)
								if loginuser
									input(type="hidden", name="comment[from]", value=loginuser._id)			
								.form-group
									textarea#inputcomment.form-control(name="comment[content]", row=3,placeholder="输入评论内容...")
								if loginuser
									.form-group
										button.btn.btn-primary(type="submit") 发表	
								else
									.form-group
										a.btn.btn-primary(href="/signin") 登录后评论		
				#tab2.tab-pane 商品介绍 
				#tab3.tab-pane 商品参数 
block pagesrc
	script(src="/js/car_detail.js")




