extends ../layout

block content
	.container
		.row
			table.table.table-hover.table-bordered.table-striped.table-sm
				thead.thead-default
					tr
						th 厂牌
						th 车系
						th 颜色
						th 年款
						th 车型
						th 排量
						th 最大功率
						th 变速箱
						th 指导价(万)
						th 录入日期
						th 操作
				tbody
					each car in cars
						tr(class="item-id-#{car._id}")
							td=car.brand
							td=car.series
							td=car.color
							td=car.yearStyle
							td=car.carModelName
							td=car.ml
							td=car.kw
							td=car.gearbox
							td=car.guidePrice
							td=moment(car.meta.createDate).format("YYYY-MM-DD")
							td
								a.btn.btn-primary.btn-sm(href="/car/#{car._id}") 查看
								span &nbsp;
								a.btn.btn-primary.btn-sm(href="/admin/car/update/#{car._id}") 修改
								span &nbsp;
								button.del.btn.btn-danger.btn-sm(type="button", data-id="#{car._id}",data-toggle="modal",data-target="#delConfirm") 删除
	.container
		#delConfirm.modal.fade
			.modal-dialog
				.modal-content
					.modal-header
						button.close(type="button",data-dismiss="modal")
							span &times;
						h6.modal-title 智能助手
					.modal-body
						p 确定删除吗?
					.modal-footer
						button#delConfirmbtnOk.btn.btn-primary(type="button") 确定
						button.btn.btn-secondary(type="button", data-dismiss="modal") 取消
block pagesrc
	script(src="/js/car_list.js")
